.boton {
    bottom: 3%;
    left: 5%;
}

@media (min-width: 500px) {
    .xs {
        display: block;
    }
    .movile {
        display: none;
    }
    .boton {
        bottom: 20%;
        left: 11%;
    }
}

@media (min-width: 760px) {
    .boton {
        bottom: 18%;
        left: 5%;
    }
}

@media (min-width: 800px) {
    .boton {
        bottom: 17%;
        left: 10%;
    }
}