@import url("https://use.typekit.net/vxv7afc.css"); /* Lato */
@import url("https://use.typekit.net/isy5fdc.css"); /* VAG Rundschrift D */
@import "tailwindcss";

/* ===== Paleta Cambalache ===== */
:root {
  --c-bg:   #ececec;
  --c-text: #2727d1;
  --c-brand: #ff52b9;
  --c-accent: #ffdb3e;
  --c-info: #00afe7;

  --c-mid-blue:   #bbbbe5;
  --c-mid-pink:   #f1c6df;
  --c-mid-yellow: #f1e8c1;
  --c-mid-cyan:   #b1ddeb;

  color-scheme: light;
  font-family: "lato", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== Base ===== */
html, body { height: 100%; }
body {
  margin: 0;
  background-color: var(--c-bg);
  color: var(--c-text);
  font-family: "lato", sans-serif;
}